$color-primary: #590b11;
$color-title: #090a0d;
$color-text: #f2f2f2;
$color-border: rgba(#ccc, 0.5);

//Importar bootstrap
@import "bootstrap/bootstrap";

body {
  font-size: 16px;

  .btn-custom {
    color: $color-title;
    text-align: center;
    &:hover {
      color: $color-primary;
      background-color: $color-border;
    }
  }
  .icon-cart {
    font-size: 10px;
  }
  .loader-page {
    position: fixed;
    z-index: 996;
    background: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;
  }
  .loader-page::before {
    content: "";
    position: absolute;
    border: 2px solid rgb(50, 150, 176);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
  }
  @keyframes rotarload {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(50, 150, 176, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s ease-out infinite;
    transform: rotate(0deg);
  }

  .toast-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    padding: 1rem;
  }

  .toast {
    width: 300px;

    border-radius: 0.25rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: translateX(100%);
    margin-bottom: 0.5rem;

    &.show {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

img {
  max-width: 100%;
  vertical-align: top;
}
p {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: $color-title;

  &:hover {
    color: $color-primary;
    text-decoration: underline;
  }
}

//header
header {
  position: sticky;
  top: 0;
  z-index: 999;
  pointer-events: auto;
  .header-stiky {
    z-index: 998;
    background: rgba($light, 0.5);
    backdrop-filter: blur(10px);
    width: 100%;
  }

  .main-logo {
    height: 50px;
    width: 70px;
  }

  .login-bag {
    a {
      &:hover {
        color: $color-primary;
      }
    }
  }

  .record .icon {
    img {
      width: 25px;
      height: 25px;
      display: none;
      margin: auto;
    }
  }

  .record.recording {
    img {
      display: block;
    }
    i {
      display: none;
    }
  }

  .selected {
    font-weight: bold;
    text-decoration: underline;
  }

  .search-result-section {
    position: absolute;
    background: #ffffff;
    z-index: 8;
    .result-item {
      padding: 10px;
      margin-bottom: 5;
      border-bottom: dashed 1px rgba($color-primary, 0.5);
    }
  }

  .search-result-shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba($color-title, 0.5);
    z-index: 7;
  }
}

//main
main {
  .welcome-message {
    position: relative;
    .title-container {
      color: $color-text;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 20px;
      z-index: 2;
      width: fit-content;
    }

    .carousel-dss {
      text-shadow: 1px 1px 2px black, 0 0 1em $color-primary,
        0 0 0.2em $color-primary;
    }
    .product-title {
      h2 {
        border-bottom: 3px solid $color-title;
      }
    }
  }

  .about-images {
    aspect-ratio: 16/9;
  }

  .parallax-section {
    position: relative;
    min-height: 350px;
    width: 100%;
    overflow: hidden;

    .parallax-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .parallax-content {
      position: absolute;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      text-align: center;
      padding: 20px;
      background: rgba($light, 0.5);
      backdrop-filter: blur(2px);
      color: $color-title;
      font-weight: 500;
    }
  }
}

.password-toggle-icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

footer {
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  padding: 30px 0;
  text-align: center;
}

//login modal
.login-modal {
  input {
    width: 100%;
    border: 1px solid $color-border;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 12px;
  }
}

//Product Item

.img-cart {
  width: 150px;
  height: 100px;
  object-fit: contain;
}

.quantity-cart {
  font-size: 0.75rem;
}

.price-cart {
  font-size: 0.85rem;
}

