$color-primary: #590b11;
$color-title: #090a0d;
$color-text: #f2f2f2;
$color-border: rgba(#ccc, 0.5);

//Importar bootstrap
@import "bootstrap/bootstrap";

body {
  font-size: 16px;

  .btn-custom {
    color: $color-title;
    &:hover {
      color: $color-text;
      background-color: $color-primary;
    }
  }
  .icon-cart {
    font-size: 10px;
  }
  .loader-page {
    position: fixed;
    z-index: 996;
    background: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;
  }
  .loader-page::before {
    content: "";
    position: absolute;
    border: 2px solid rgb(50, 150, 176);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
  }
  @keyframes rotarload {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(50, 150, 176, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s ease-out infinite;
    transform: rotate(0deg);
  }
}

img {
  max-width: 100%;
  vertical-align: top;
}
p {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: $color-title;

  &:hover {
    color: $color-primary;
    text-decoration: underline;
  }
}

//header
header {
  position: sticky;
  top: 0;
  z-index: 999;

  .header-stiky {
    z-index: 998;
    background: rgba($light, 0.5);
    backdrop-filter: blur(10px);
    width: 100%;
  }

  .main-logo {
    height: 50px;
    width: 70px;
  }

  .login-bag {
    a {
      &:hover {
        color: $color-primary;
      }
    }
  }
}

//class stiky
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

//main
main {
  .welcome-message {
    position: relative;
    .title-container {
      color: $color-text;
      position: absolute;
      top: 0; 
      left: 50%; 
      transform: translateX(-50%); 
      padding: 20px; 
      z-index: 2; 
      width: fit-content; 
    }

    .carousel-dss {
      text-shadow: 1px 1px 2px black, 0 0 1em $color-primary,
        0 0 0.2em $color-primary;
    }
    .product-title {
      h2 {
        border-bottom: 3px solid $color-title;
      }
    }
  }
}

//footer
footer {
  border-top: 1px solid $color-border;
  padding: 30px 0;
  text-align: center;
  .container {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: $color-text;
    .heading {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .options {
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid $color-primary;
        border-radius: 5px;
        outline: none;
      }
      p {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        color: $color-primary;
      }
      div:not(:last-child) select {
        margin-bottom: 20px;
      }
    }
    .line {
      position: relative;
      width: 100%;
      height: 1px;
      background-color: $color-primary;
      opacity: 0.5;
      margin: 30px 0;
    }
    .record img {
      width: 30px;
      height: 30px;
      display: none;
    }
    .record.recording {
      img {
        display: block;
      }
      ion-icon {
        display: none;
      }
    }
    .result {
      width: 100%;
      min-height: 200px;
      padding: 10px;
      border: 1px solid $color-primary;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
      color: $color-primary;
      p {
        display: inline;
        margin-left: 3px;
        color: $color-title;
      }
    }
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    height: 60px;
    padding: 20px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    background-color: $color-title;
    ion-icon {
      font-size: 30px;
    }
  }
  .btn:disabled {
    background-color: $color-title;
    cursor: not-allowed;
  }

  .buttons {
    display: flex;
    gap: 20px;
  }
}

//login modal
.login-modal {
  input {
    width: 100%;
    border: 1px solid $color-border;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 12px;
  }
}

//Product Item

.img-cart {
  width: 150px;
  height: 100px;
  object-fit: contain;
}

.quantity-cart {
  font-size: 0.75rem;
}

.price-cart {
  font-size: 0.85rem;
}
