$color-primary: #590b11;
$color-title: #090a0d;
$color-text: #f2f2f2;
$color-border: rgba(#ccc, 0.5);

//Importar bootstrap
@import "bootstrap/bootstrap";

body {
  font-size: 16px;

  .btn-custom {
    color: $color-title;
    &:hover {
      color: $color-text;
      background-color: $color-primary;
    }
  }
  .icon-cart {
    font-size: 10px;
  }
  .loader-page {
    position: fixed;
    z-index: 996;
    background: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;
  }
  .loader-page::before {
    content: "";
    position: absolute;
    border: 2px solid rgb(50, 150, 176);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
  }
  @keyframes rotarload {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(50, 150, 176, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s ease-out infinite;
    transform: rotate(0deg);
  }
}

img {
  max-width: 100%;
  vertical-align: top;
}
p {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: $color-title;

  &:hover {
    color: $color-primary;
    text-decoration: underline;
  }
}

//header
header {
  position: sticky;
  top: 0;
  z-index: 999;

  .header-stiky {
    z-index: 998;
    background: rgba($light, 0.5);
    backdrop-filter: blur(10px);
    width: 100%;
  }

  .main-logo {
    background: url("/img/logo.png");
    height: 50px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .login-bag {
    a {
      &:hover {
        color: $color-primary;
      }
    }
  }
}

//class stiky
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

//main
main {
  /* Estilos para el contenedor del mensaje de bienvenida */
  .welcome-message {
    position: relative;
    /* Estilos para el contenedor del título */
    .title-container {
      color: $color-text;
      position: absolute;
      top: 0; /* Ajusta la posición vertical según tus necesidades */
      left: 50%; /* Centra horizontalmente el título */
      transform: translateX(-50%); /* Centra horizontalmente el título */
      // background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
      padding: 20px; /* Espaciado interno */
      z-index: 2; /* Asegura que esté sobre el carrusel */
      width: fit-content; /* Ancho basado en el contenido del título */
    }

    .carousel-dss {
      text-shadow: 1px 1px 2px black, 0 0 1em $color-primary,
        0 0 0.2em $color-primary;
    }
    .product-title {
      h2 {
        border-bottom: 3px solid $color-title;
      }
    }
  }
}

//footer
footer {
  border-top: 1px solid $color-border;
  padding: 30px 0;
  text-align: center;
}

//login modal
.login-modal {
  input {
    width: 100%;
    border: 1px solid $color-border;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 12px;
  }
}

//Product Item

.img-cart {
  width: 150px;
  height: 100px;
  object-fit: contain;
}

.quantity-cart {
  font-size: 0.75rem;
}

.price-cart {
  font-size: 0.85rem;
}
